
footer ul a{
    color: black;
    margin: 0;
    text-decoration: none;
}
footer ul{
    list-style: none;    
}

#nosotros{    
    height: 400px;
    background-image: url("../../public/img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#logo-letras{
    width: 10rem;
}